@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&subset=cyrillic,cyrillic-ext');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
.cleara:after {
  content: "";
  display: table;
  clear: both;
}
*:focus {
  outline: none;
}
/* general style*/
html {
  height: 100%;
}
body {
  font: 19px/21px 'LatoWeb', sans-serif;
  width: 100%;
  background: #ffffff;
  color: #000000;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000000;
  outline: none;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0 0 10px;
}
img {
  max-width: 100%;
  outline: none;
}
.center {
  text-align: center;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.layout {
  background: #fff;
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  position: relative;
  width: 100%;
}
.layout__body {
  min-height: 100%;
}
.layout__body__inner {
  padding-bottom: 100px;
}
.services {
  padding: 50px 0 70px;
}
.services-form {
  text-align: center;
}
.services-form__text {
  font: 26px/28px 'Noto Serif', serif;
  margin-bottom: 30px;
}
.services .form__row {
  margin-bottom: 20px;
}
.bordered-section {
  border-bottom: 3px solid #cbc8c8;
}
.footer {
  height: 100px;
  color: #000000;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
}
.footer-wr {
  position: relative;
  z-index: 2;
  background: #ffffff;
  border-top: 3px solid #cbc8c8;
  margin-top: -100px;
}
.footer a {
  color: #000000;
}
.footer .logo {
  display: inline-block;
}
.footer .logo img {
  display: block;
  width: 100px;
}
.footer .logo--rfb {
  margin-left: 25px;
}
.footer .logo--rfb img {
  width: 112px;
}
.footer__item {
  padding-right: 35px;
}
.footer__item:last-child {
  padding-right: 0;
}
.footer-menu {
  display: block;
  margin: 0;
  padding: 0;
}
.footer-menu li {
  display: block;
  font: 17px/19px 'LatoWeb', sans-serif;
  color: #000;
}
.footer-menu li a:hover {
  opacity: .8;
  transition: 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.header-wr {
  position: relative;
  background: #515151;
}
.header__item {
  padding-right: 17px;
}
.header__item:last-child {
  padding-right: 0;
  text-align: right;
}
.header-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.header-menu__item {
  display: inline-block;
  margin-right: 25px;
  font: 17px/19px 'LatoWeb', sans-serif;
}
.header-menu__item a {
  color: #fff;
}
.header-menu__item:hover a {
  opacity: .8;
  transition: 0.3s;
}
.header-phone {
  font: 31px/33px 'LatoWebBold', sans-serif;
  display: block;
  white-space: nowrap;
  color: #fff;
}
.header-phone-wr {
  display: block;
  vertical-align: middle;
  margin: 0 0 5px;
}
.main-banner {
  text-align: center;
  padding: 260px 10% 120px;
  color: #fff;
}
.main-banner-wr {
  background: url(../img/main-banner-bg.jpg) no-repeat center center / cover;
}
.main-banner__sublitle {
  font: 400 26px/34px 'Noto Serif', serif;
  margin: 0 0 20px;
  padding: 0;
}
.main-banner__btn {
  margin-top: 70px;
  font: 19px/21px 'LatoWeb', sans-serif;
  color: #fff;
  padding: 20px 35px 18px;
  display: inline-block;
  border: 5px solid #ffed00;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.main-banner__btn:hover {
  background: #3b383a;
}
.main-page .header-wr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
}
.main-page .footer-wr {
  border-top-color: transparent;
}
.h1-title {
  font: 400 56px/64px 'Noto Serif', serif;
  margin: 0 0 20px;
  padding: 0;
}
.h2-title {
  font: 400 56px/64px 'Noto Serif', serif;
  margin: 0 0 35px;
  padding: 0;
  text-align: center;
}
.h3-title {
  font: 400 40px/42px 'Noto Serif', serif;
  margin: 0 0 25px;
  padding: 0;
}
.h4-title {
  font: 400 24px/26px 'Noto Serif', serif;
  margin: 0 0 35px;
  padding: 0;
}
.content-text {
  font: 19px/25px 'LatoWeb', sans-serif;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.logo img {
  display: block;
  width: 167px;
}
.logo--rfb {
  position: relative;
  margin-left: 45px;
}
.logo--rfb img {
  width: 210px;
}
.logo--rfb span {
  font: 15px/17px 'LatoWeb', sans-serif;
  display: inline-block;
  position: absolute;
  top: -30px;
  color: #fff;
}
.icontext {
  padding-left: 30px;
}
.icontext--time {
  background: url(../img/icons/footer-time-ico.svg) no-repeat left top;
}
.steps {
  padding: 60px 0 40px;
}
.steps__item {
  width: 25%;
  float: left;
  padding: 0 10px;
  text-align: center;
  color: #000;
}
.steps-num {
  font: 48px/86px 'Noto Serif', serif;
  color: #000;
  text-align: center;
  width: 96px;
  height: 96px;
  border: 3px solid #ffed00;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}
.steps-title {
  font: 21px/25px 'Noto Serif', serif;
  margin-bottom: 20px;
}
.steps-text {
  font: 17px/19px 'LatoWeb', sans-serif;
}
.advantages {
  padding: 60px 0 40px;
}
.advantages__item {
  width: 33.3333%;
  float: left;
  padding: 0 10px;
  text-align: center;
  color: #000;
}
.advantages-icon {
  width: 66px;
  display: inline-block;
  margin-bottom: 25px;
}
.advantages-icon img {
  display: block;
}
.advantages-title {
  font: 26px/28px 'Noto Serif', serif;
  margin-bottom: 20px;
}
.advantages-text {
  font: 19px/23px 'LatoWeb', sans-serif;
}
.trial {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.trial__item {
  width: 50%;
  display: flex;
  align-items: center;
}
.trial__item:first-child {
  background: #e8e8e8;
}
.trial__item--bg {
  background: url(../img/trial-bg.jpg) no-repeat center top / cover;
}
.trial__item:last-child {
  width: 335px!important;
}
.trial-text {
  padding: 10px 90px 10px 30px;
  color: #010101;
  font: 36px/40px 'Noto Serif', serif;
  display: inline-block;
  vertical-align: middle;
}
.trial-form {
  padding: 60px 0 60px 30px;
}
.trial-btn {
  font: 15px/17px 'LatoWebBold', sans-serif;
  color: #fff;
  padding: 17px 35px 15px;
  display: block;
  width: 100%;
  border: 5px solid #ffed00;
  text-transform: uppercase;
  transition: 0.3s ease;
  background: #fff;
  color: #010101;
}
.trial-btn:hover {
  background: #e8e8e8;
}
.specification {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.specification__item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specification__item:first-child {
  padding-bottom: 50%;
  background: url(../img/specification-bg1.jpg) no-repeat right bottom #e8e8e8;
}
.specification__item:first-child img {
  display: block;
  width: 100%;
}
.specification__item--bg {
  background: url(../img/specification-bg.jpg) no-repeat center top / cover;
  padding: 65px;
}
.specification-title {
  padding: 65px 65px 65px 30px;
  color: #010101;
  font: 36px/40px 'Noto Serif', serif;
}
.specification-text {
  margin-bottom: 40px;
  color: #000000;
  font: 26px/30px 'Noto Serif', serif;
}
.specification-btn {
  display: inline-block;
}
.anketa {
  padding: 65px 0;
}
.anketa__topline {
  margin-bottom: 75px;
}
.anketa__btns {
  float: right;
  width: 305px;
  margin-left: -305px;
}
.anketa__btns .neitral-btn {
  margin-bottom: 15px;
}
.anketa__btns .neitral-btn:last-child {
  margin-bottom: 0;
}
.anketa__desc {
  float: left;
  margin-right: 390px;
}
.anketa__panel-left {
  float: left;
  width: 305px;
  margin-right: -305px;
}
.anketa__panel-right {
  float: right;
  margin-left: -335px;
}
.anketa__controls {
  background: #fafafa;
  padding: 35px 20px;
}
.anketa__form {
  border: 3px solid #d9d9d9;
  padding: 50px 30px;
}
.anketa__form-title {
  font: 22px/26px 'Noto Serif', serif;
  margin-bottom: 15px;
}
.neitral-btn {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 0 2px #bfbfbf;
  color: #010101;
  display: block;
  font: 18px/20px 'LatoWeb', sans-serif;
  padding: 16px;
  width: 100%;
  text-align: center;
}
.neitral-btn:hover {
  box-shadow: 0 0 0 3px #bfbfbf;
}
.form__row {
  margin-bottom: 22px;
}
.form__row:last-child {
  margin-bottom: 0;
}
.form__row-elem {
  display: inline-block;
  margin: 0 10px 20px;
}
.form-label {
  font: 19px/21px 'LatoWeb', sans-serif;
  margin-bottom: 7px;
  color: #010101;
}
.form-field {
  font: 19px/21px 'LatoWeb', sans-serif;
  border: 1px solid #bfbfbf;
  padding: 16px;
  background: #fff;
  color: #010101;
  display: block;
  width: 100%;
}
.form-cbx-label {
  color: #abaaaa;
  font: 14px/20px 'LatoWeb', sans-serif;
}
.form-cbx-label a {
  color: #abaaaa;
  text-decoration: underline;
}
.form-cbx-label a:hover {
  text-decoration: none;
}
.form-checkbox + label {
  cursor: pointer;
  position: relative;
  padding-left: 55px;
  display: block;
}
.form-checkbox + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 40px;
  width: 40px;
  margin: 0 5px 0 0;
  border: 1px solid #bfbfbf;
  background: #fff;
}
.form-checkbox:checked + label:after {
  content: "";
  color: #f00;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 33;
  width: 40px;
  height: 40px;
  background: url("../img/icons/v.svg") no-repeat center center;
}
.square-radio + label {
  cursor: pointer;
  position: relative;
  padding-left: 55px;
  display: block;
  font: 19px/21px 'LatoWebBold', sans-serif;
  color: #010101;
  background: #e8e8e8;
  padding: 17px 25px 15px;
  border: 5px solid #e8e8e8;
}
.square-radio:hover + label {
  border-color: #ffed00;
}
.square-radio:checked + label {
  border-color: #ffed00;
  background: #fff;
}
.ellipse-checkbox + label {
  cursor: pointer;
  position: relative;
  padding-left: 55px;
  display: block;
  font: 19px/21px 'LatoWebBold', sans-serif;
  color: #010101;
  background: #fff;
  padding: 15px 30px 15px;
  box-shadow: 0 0 0 2px #e8e8e8 inset;
  border-radius: 30px;
}
.ellipse-checkbox:checked + label,
.ellipse-checkbox:checked:hover + label {
  box-shadow: 0 0 0 3px #ffed00 inset;
}
.ellipse-checkbox:hover + label {
  box-shadow: 0 0 0 3px #e8e8e8 inset;
}
.ellipse-checkbox:checked + label {
  padding-left: 60px;
}
.ellipse-checkbox:checked + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 30px;
  background: url(../img/icons/v-rounded.svg) no-repeat left top;
  width: 15px;
  height: 14px;
}
.dark-btn {
  background: #6f6f6f;
  border: 5px solid #6f6f6f;
  box-shadow: inset 5px 0 0 #6f6f6f;
  font: 14px/16px 'LatoWebBold', sans-serif;
  padding: 18px 50px 16px;
  color: #fff;
}
.dark-btn:hover {
  border-color: #ffed00;
}
.inline-btn {
  display: inline-block;
}
.yellow-btn {
  font: 15px/17px 'LatoWebBold', sans-serif;
  color: #fff;
  padding: 17px 30px 15px;
  border: 5px solid #ffed00;
  text-transform: uppercase;
  transition: 0.3s ease;
  background: #fff;
  color: #010101;
}
.yellow-btn:hover {
  background: #e8e8e8;
}
.popup-block {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 765px;
  margin: 20px auto;
  border: 5px solid #d0d0d0;
}
.popup-block__body {
  position: relative;
  padding: 45px 70px;
}
#auth-modal.popup-block,
#register-modal.popup-block {
  max-width: 535px;
}
#auth-modal.popup-block .form-label,
#register-modal.popup-block .form-label {
  text-align: center;
  font-weight: bold;
}
.h2-popup-title {
  font: 56px/58px 'Noto Serif', serif;
  color: #111111;
  margin: 0 0 35px;
  padding: 0;
  text-align: center;
}
.popup-modal-dismiss {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translate(0, -50%);
  height: 21px;
  width: 21px;
  background: url(../img/icons/popup-modal-dismiss.png) no-repeat left top;
}
.popup-modal-dismiss:hover {
  opacity: .8;
  transition: 0.3s;
}
.popup-btn {
  display: inline-block;
  margin: 10px 0 0;
}
.slick-dots li.slick-active button {
  background: #7cc576;
  border-color: #7cc576;
}
@media screen and (min-width: 768px) {
  html,
  body {
    height: 100%;
  }
  .layout {
    height: 100%;
  }
  .layout__body {
    min-height: 100%;
  }
}
