@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&subset=cyrillic,cyrillic-ext');

@font-face {
	font-family: 'Glyphter';
	src: url('../fonts/Glyphter.eot');
	src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Glyphter.woff') format('woff'),
		 url('../fonts/Glyphter.ttf') format('truetype'),
		 url('../fonts/Glyphter.svg#Glyphter') format('svg');
	font-weight: normal;
	font-style: normal;
}
.iconnic,
[class*='icon-']{
	&:before{
		display: inline-block;
		font-family: 'Glyphter';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
	}
}

.icon-speed{
	.iconnic;
	&:before{content:'\0041';}
}
.icon-man{
	.iconnic;
	&:before{content:'\0042';}
}
.icon-mic{
	.iconnic;
	&:before{content:'\0043';}
}
.icon-time{
	.iconnic;
	&:before{content:'\0044';}
}
.icon-rounded-v{
	.iconnic;
	&:before{content:'\0045';}
}
.icon-rounded-x{
	.iconnic;
	&:before{content:'\0046';}
}
.icon-v{
	.iconnic;
	&:before{content:'\0047';}
}
.icon-cross{
	.iconnic;
	&:before{content:'\0048';}
}
.icon-tip{
	.iconnic;
	&:before{content:'\0049';}
}
.icon-down{
	.iconnic;
	&:before{content:'\004a';}
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear{
  clear: both;
}

.cleara:after{
  content: "";
  display: table;
  clear: both;
}

*:focus {
  outline: none;
}

@font: 'LatoWeb', sans-serif;
@fontb: 'LatoWebBold', sans-serif;
@fontn: 'Noto Serif', serif;

/* general style*/

html{
  height: 100%;
}

body {
  font: 19px/21px @font;
  width: 100%;
  background: #ffffff;
  color: #000000;
  height: 100%;
}

a {
  outline: none;
  text-decoration: none;
  color: #000000;
  outline:none;

  &:hover{
	text-decoration: none;
  }
}

p{
  margin: 0 0 10px;
}

img{
  max-width: 100%;
  outline:none;
}

.trn{
	transition: all 0.3s ease;
}

.center{
  text-align: center;
}

.wrap{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.layout {
  background: #fff;
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  min-width: 320px;
  position: relative;
  width: 100%;
}

.layout__body {
  min-height: 100%;

  &__inner{
	padding-bottom: 100px;
  }
}

.services{

	&-wr{
		padding: 50px 0 70px;
	}

	&-form{
		text-align: center;
		&__text{
			font: 26px/28px @fontn;
			margin-bottom: 30px;
			text-align: center;
		}
	}
	&-btns{
		text-align: center;
		margin-bottom: 30px;
		&__item{
			cursor: pointer;
			position: relative;
			padding-left: 55px;
			display: inline-block;
			font: 19px/21px @fontb;
			color: #010101;
			background: #e8e8e8;
			padding: 17px 25px 15px;
			border: 5px solid #e8e8e8;
			margin: 0 5px;
			.trn;
			
			&:hover {
				border-color: #ffed00;
			}
			&.active {
				border-color: #ffed00;
				background: #fff;
			}
		}
	}
	&-tabs{
		&__item {
			display: none;
			&.active {
				display: block;
			}
		}
	}
	
	.form__row{
		margin-bottom: 20px;
	}
}

.bordered-section{
	border-bottom: 3px solid #cbc8c8;
}

.footer {
  &-wr{
	position: relative;
	z-index: 2;
	background: #ffffff;
	border-top: 3px solid #cbc8c8;
	margin-top: -100px;
  }

  height: 100px;
  color: #000000;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;

  a{
	color: #000000;
  }

	.logo{
		display: inline-block;
		img{
			display: block;
			width: 100px;
		}
		&--rfb{
			margin-left: 25px;
			img{
				width: 112px;
			}
		}
	}

  &__item{
	padding-right: 35px;
	&:last-child{
	  padding-right: 0;
	}
  }

  &-menu{
	display: block;
	margin: 0;
	padding: 0;

	li{
	  display: inline-block;
	  font: 17px/28px @font;
	  color: #000;
	  a:hover{
		opacity: .8;
		transition: 0.3s;
	  }
	}
  }

	&__contacts{
		.icon-time{
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			&:before{
				font-size: 26px;
			}
		}
	}
}

.header{

	&-wr{
		position: relative;
		background: #515151;
	}

	display: flex;
	align-items: center;
	height: 150px;

	&__left{
		padding-right: 35px;
		flex-shrink: 0;
	}
	&__right{
		text-align: right;
		flex-grow: 1;
	}


	&-menu{
		display: inline-block;
		margin: 0;
		padding: 0;
		&__item{
			display: inline-block;
			margin-right: 25px;
			font: 17px/19px @font;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: #fff;
			}
			&:hover{
				a{
					opacity: .8;
					transition: 0.3s;
				}
			}
		}
	}

	&-phone{
		font: 31px/33px @fontb;
		display: block;
		white-space: nowrap;
		color: #fff;

		&-wr{
			display: inline-block;
			margin-left: 35px;
		}
	}
}

.main-banner{
	text-align: center;
	padding: 260px 10% 120px;
	color: #fff;

	&-wr{
		background: url(../img/main-banner-bg.jpg) no-repeat center center / cover;
	}
	&__sublitle{
		font: 400 26px/34px @fontn;
		margin: 0 0 20px;
		padding: 0;
	}

	&__btn{
		margin-top: 70px;
		font: 19px/21px @font;
		color: #fff;
		padding: 20px 35px 18px;
		display: inline-block;
		border: 5px solid #ffed00;
		text-transform: uppercase;
		transition: 0.3s ease;
		&:hover{
			background: #3b383a;
		}
	}
}

.main-page{
	.header-wr{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background: transparent;
	}
	.footer-wr{
		border-top-color: transparent;
	}
}

.h1-title{
	font: 400 56px/64px @fontn;
	margin: 0 0 20px;
	padding: 0;
}
.h2-title{
	font: 400 56px/64px @fontn;
	margin: 0 0 35px;
	padding: 0;
	text-align: center;
}
.h3-title{
	font: 400 40px/42px @fontn;
	margin: 0 0 25px;
	padding: 0;
}
.h4-title{
	font: 400 24px/26px @fontn;
	margin: 0 0 35px;
	padding: 0;
}

.content-text{
	font: 19px/25px @font;
}

.logo{
  display: inline-block;
  vertical-align: middle;

  img{
	display: block;
	width: 167px;
  }

  &--rfb{
	position: relative;
	margin-left: 35px;
	img{
		width: 210px;
	}
	span{
		font: 15px/17px @font;
		display: inline-block;
		position: absolute;
		top: -30px;
		left: 0;
		color: #fff;
	}
  }
}

.steps{
	padding: 60px 0 40px;

	&__item{
		width: 25%;
		float: left;
		padding: 0 10px;
		text-align: center;
		color: #000;
	}

	&-num{
		font: 48px/86px @fontn;
		color: #000;
		text-align: center;
		width: 96px;
		height: 96px;
		border: 3px solid #ffed00;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 25px;
	}
	&-title{
		font: 21px/25px @fontn;
		margin-bottom: 20px;
	}
	&-text{
		font: 17px/19px @font;
	}
}

.advantages{

	padding: 60px 0 40px;

	&__item{
		width: 33.3333%;
		float: left;
		padding: 0 10px;
		text-align: center;
		color: #000;
	}

	&-icon{
		display: inline-block;
		margin-bottom: 25px;
		.icon-man,
		.icon-speed,
		.icon-mic{
			color: #000;
			font-size: 66px;
		}
	}
	&-title{
		font: 26px/28px @fontn;
		margin-bottom: 20px;
	}
	&-text{
		font: 19px/23px @font;
	}
}

.trial{
	display: flex;
	flex-direction: row;
	align-items: stretch;

	&__item{
		width: 50%;
		display: flex;
		align-items: center;
		&:first-child{
			background: #e8e8e8;
		}
		&--bg{
			background: url(../img/trial-bg.jpg) no-repeat center top / cover;
		}
		&:last-child{
			width: 335px;
			flex-shrink: 0;
		}
	}
	&-text{
		padding: 10px 90px 10px 30px;
		color: #010101;
		font: 36px/40px @fontn;
		display: inline-block;
		vertical-align: middle;
	}
	&-form{
		padding: 60px 0 60px 30px;
	}
	&-btn{
		font: 15px/17px @fontb;
		color: #fff;
		padding: 17px 0 15px;
		display: block;
		width: 100%;
		border: 5px solid #ffed00;
		text-transform: uppercase;
		transition: 0.3s ease;
		background: #fff;
		color: #010101;

		&:hover{
			background: #e8e8e8;
		}
	}
}

.specification{
	display: flex;
	flex-direction: row;
	align-items: stretch;

	&__item{
		width: 50%;

		&--left{
			display: flex;
			flex-direction: column;
			align-items: streght;
		}
		&--right{
			background: url(../img/specification-bg.jpg) no-repeat center top / cover;
			padding: 65px;
		}
		&-title{
			padding: 65px 30px 0 30px;
			color: #010101;
			font: 36px/40px @fontn;
			background: #e8e8e8;
			height: 50%;
		}
		&-img{
			height: 50%;
			width: 100%;
			background: url(../img/specification-bg1.jpg) no-repeat center center / cover;
		}
		&-text{
			margin-bottom: 40px;
			color: #000000;
			font: 26px/30px @fontn;
		}
	}
	&__btn{
		display: inline-block;
	}
}
.anketa{
	padding: 65px 0;
	&__topline{
		display: flex;
		margin-bottom: 75px;

		&-right{
			width: 305px;
			flex-shrink: 0;
		}
		&-btns{
			.neitral-btn{
				margin-bottom: 15px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&-desc{
			padding-right: 85px;
			flex-grow: 1;
		}
	}

	&__container{
		display: flex;

		&-left{
			width: 305px;
			flex-shrink: 0;
		}
		&-right{
			padding-left: 30px;
			flex-grow: 1;
		}
	}

	&__points{
		background: #fafafa;
		padding: 35px 20px;
		counter-reset: counter;

		&-item{
			font: 18px/22px @fontn;
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}

			&:before{
				content: counter(counter);
				counter-increment: counter;

				display: inline-block;
				vertical-align: middle;
				height: 30px;
				width: 30px;
				text-align: center;
				border: 1px solid #9f9f9f;
				font: 15px/28px @fontn;
				border-radius: 50%;
				margin-right: 7px;
			}

			&._ready{
				font-weight: 700!important;
				.icon-rounded-v;
				&:before{
					border-color: #83b986;
					color: #83b986;
					font-size: 13px;
					line-height: 28px;
				}
			}
			&._error{
				.icon-rounded-x;
				&:before{
					border-color: #c85d5d;
					color: #c85d5d;
					font-size: 11px;
					line-height: 28px;
				}
			}
		}
	}

	&__form{
		padding: 50px 30px;
		&-wr{
			border: 3px solid #d9d9d9;
			border-top: 0;
			margin-bottom: 30px;
			position: relative;
			.form-bar{
				position: absolute;
				left: -3px;
				top: 0;
				right: -3px;
			}
		}
		&-title{
			font: 22px/26px @fontn;
			margin-bottom: 17px;
		}
		&-controls{
			.light-btn{
				padding: 18px 25px 16px;
			}
			.dark-btn{
				padding: 0 25px;
				line-height: 40px;
			}
		}
		&-row{
			display: flex;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-left{
			width: 230px;
			padding-right: 10px;
			flex-shrink: 0;
		}
		&-right{
			padding-right: 35px;
			flex-grow: 1;
			position: relative;
		}
		&-text{
			padding-top: 7px;
			font: 18px/22px @font;
			&._withsmall{
				padding-top: 10px;
				font: 19px/21px @fontb;
				.tip{
					color: #a09c9c;
					font: 16px/18px @font;
				}
			}
		}
		
	}

	.form-field {
		display: block;
		width: 100%;
		font: 25px/27px @font;
		padding: 14px 20px;

		&._ready{
			border-color: #83b986;
		}
		&._error{
			border-color: #c57575;

			& + .error-text{
				display: block;
				margin-top: 8px;
			}
		}
	}
}
.selectize-control{
	display: block;
	height: 57px;
}
.selectize-input{
	border-radius: 0!important;
	box-shadow: none!important;
	border-color: #bfbfbf;
	display: block;
	padding: 17px 50px 16px 20px;
}
.selectize-input .item{
	font: 18px/22px @font;
	max-width: 95%;
}
.selectize-dropdown, .selectize-input, .selectize-input input{
	font: 16px/18px @font;
	color: #000;
}
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header{
	padding: 15px 20px 14px;
	font: 18px/22px @font;
	color: #000;
}
.selectize-dropdown{
	border-radius: 0;
	box-shadow: none;
}
.selectize-dropdown .active {
  background-color: #f1f0f0;
  color: #000;
}
.selectize-control.single .selectize-input:after,
.selectize-control.single .selectize-input.dropdown-active:after {
	display: none;
}
.selectize-control.single .selectize-input.dropdown-active{
  .icon-down;
	&:before{
		position: absolute;
		right: 15px;
		top: 50%;
		display: inline-block;
		font-size: 24px;
		color: #bababa;
		transform: translate(0, -50%) rotate(180deg) ;
	}
}
.selectize-control.single .selectize-input{
	.icon-down;
	&:before{
		position: absolute;
		right: 15px;
		top: 50%;
		display: inline-block;
		font-size: 24px;
		color: #bababa;
		transform: translate(0, -50%);
	}
}

.tooltip{
	position: absolute;
	right: 0;
	top: 17px;
	&__icon{
		cursor: pointer;
		color: #bababa;
		font-size: 19px;
		&:hover + .tooltip__text{
			visibility: visible;
			opacity:1;
		}
	}
	&__text{
		font: 14px/16px @font;
		color: #272727;
		padding: 30px;
		background: #e7e7e7;
		position: absolute;
		bottom: 50px;
		right: -50px;
		z-index: 99999;
		width: 345px;
		visibility: hidden;
		opacity:0;
		.trn;
		&:after{
			content: '';
			position: absolute;
			bottom: -8px;
			right: 51px;
			display: block;
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid #e7e7e7;
		}
	}
}

.textarea{
	background: #fff;
	border: 1px solid #bfbfbf;
	color: #010101;
	display: block;
	font: 19px/21px @font;
	padding: 16px 20px;
	width: 100%;
	resize: none;
	height: 160px;
}

.error-text{
	color: #c57575;
	font: 16px/18px @font;
}

.form-bar{
	height: 3px;
	background: #d9d9d9;

	&__thumb{
		background: #b06060;
		height: 3px;
		._ready &{
			background: #83b986;
		}
	}

}

.neitral-btn{
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 0 2px #bfbfbf;
	color: #010101;
	display: block;
	font: 18px/20px @font;
	padding: 16px 5px;
	width: 100%;
	text-align: center;
	.trn;
	&:hover{
		box-shadow: 0 0 0 3px #bfbfbf;
	}
}

.form{
	&__row{
		margin-bottom: 22px;
		&:last-child{
			margin-bottom: 0;
		}
		&-elem{
			display: inline-block;
			margin: 0 10px 20px;
		}
		&-label{
			font: 19px/21px @font;
			margin-bottom: 7px;
			color: #010101;
		}
		&._2cols{
			display: flex;
			margin: 0 -10px 20px;
		}
		&-col{
			width: 50%;
			padding: 0 10px;
		}
		
	}
	
	&-field{
		font: 19px/21px @font;
		border: 1px solid #bfbfbf;
		padding: 16px;
		background: #fff;
		color: #010101;
		display: block;
		width: 100%;
	}
}

.checkbox {
	cursor: pointer;
	position: relative;
	padding-left: 55px;
	display: block;
	min-height: 40px;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		height: 40px;
		width: 40px;
		margin: 0 5px 0 0;
		border: 1px solid #bfbfbf;
		background: #fff;
	}
	&__icon{
		color: #bfbfbf;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 33;
		width: 42px;
		height: 42px;
		font-size: 21px;
		line-height: 50px;
		text-align: center;
		opacity: 0;
	}
	&__text{
		color: #abaaaa;
		font: 14px/18px 'LatoWeb', sans-serif;
		text-align: left;
		a{
			color: #abaaaa;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
	input:checked + .checkbox__icon{
		opacity: 1;
	}
}

.ellipse-checkbox {

	& + label {
		cursor: pointer;
		position: relative;
		padding-left: 55px;
		display: block;
		font: 19px/21px @fontb;
		color: #010101;
		background: #fff;
		padding: 15px 35px 15px;
		box-shadow: 0 0 0 2px #e8e8e8 inset;
		border-radius: 30px;
		user-select: none;
		.trn;
	}
	&__icon{
		position: absolute;
		top: 50%;
		left: 19px;
		font-size: 16px;
		height: 16px;
		margin-top: -8px;
		opacity: 0;
		z-index: 2;
		color: #c9c9c9;
	}
	&:checked + label,
	&:checked:hover + label {
	  box-shadow: 0 0 0 3px #ffed00 inset;
	}
	&:hover + label{
		box-shadow: 0 0 0 3px #e8e8e8 inset;
	}
	&:checked + label{
		padding-right: 25px;
		padding-left: 45px;
		.ellipse-checkbox__icon {
			opacity: 1;
		}
	}
}

.dark-btn{
	background: #6f6f6f;
	border: 5px solid #6f6f6f;
	box-shadow: inset 5px 0 0 #6f6f6f;
	font: 14px/50px @fontb;
	padding: 0 50px;
	text-transform: uppercase;
	color: #fff;
	.trn;
	&:hover{
		border-color: #ffed00;
	}
}
.light-btn{
	background: #f1f0f0;
	font: 14px/16px @fontb;
	padding: 23px 50px 21px;
	color: #a1a0a0;
	text-transform: uppercase;
	transition: 0.3s;
	&:hover{
		background: darken(#f1f0f0, 5%);
	}
}

.inline-btn{
	display: inline-block;
}
.right-btn{
	float: right;
}

.yellow-btn{
	font: 15px/17px @fontb;
	color: #fff;
	padding: 17px 30px 15px;
	border: 5px solid #ffed00;
	text-transform: uppercase;
	transition: 0.3s ease;
	background: #fff;
	color: #010101;

	&:hover{
		background: #e8e8e8;
	}
}

.popup-block{
	position: relative;
	background: #FFF;
	width: auto;
	max-width: 765px;
	margin: 20px auto;
	border: 5px solid #d0d0d0;
	&__body{
		position: relative;
		padding: 45px 70px;
	}
	.dark-btn{
		margin: 10px 0 0;
		line-height: 40px;
	}
}
#auth-modal.popup-block,
#register-modal.popup-block,
#after-modal.popup-block{
	max-width: 535px;
	.form-label{
		text-align: center;
		font-weight: bold;
	}
}
#ask-form-modal.popup-block,{
	max-width: 770px;
	.h2-popup-title,
	.form__row-label{
		text-align: left;
	}
}
.h2-popup-title{
	font: 56px/58px @fontn;
	color: #111111;
	margin: 0 0 35px;
	padding: 0;
	text-align: center;
}
.popup-modal-dismiss{
	display: block;
	cursor: pointer;
	position: absolute;
	top: 27px;
	right: 30px;
	transform: translate(0, -50%);
	height: 20px;
	width: 20px;
	font-size: 20px;
	&:hover {
		opacity: .8;
		transition: 0.3s;
	}
}

@media screen and (min-width: 768px) {
  html,
  body {
	height: 100%;
  }
  .layout {
	height: 100%;
  }
  .layout__body {
	min-height: 100%;
  }
}

@media screen and (max-width: 1239px) {
	.tooltip__text{
		right: -25px;
		&:after{
			right: 26px;
		}
	}
}

@media screen and (max-width: 1100px) {
	.trial-text{
		padding-right: 30px;
	}
}

@media screen and (max-width: 1023px) {
	
	.header__left {
		padding-right: 25px;
	}
	.header-menu{
		display: block;
		margin-bottom: 4px;
	}
	.steps__item{
		padding: 0 5px;
		.steps-num {
			font: 38px/66px "Noto Serif",serif;
			height: 76px;
			width: 76px;
		}
		.steps-title {
			font: 19px/23px "Noto Serif",serif;
			margin-bottom: 20px;
		}
		.steps-text {
			font: 15px/17px "LatoWeb",sans-serif;
		}
	}
	.services-wr{
		.h2-title {
			font: 46px/52px "Noto Serif",serif;
		}
	}
	
}

@media screen and (max-width: 959px) {
	.specification{
		&__item{
			&-title{
				font: 32px/42px "Noto Serif",serif;
			}
			&-text{
				font: 24px/34px "Noto Serif",serif;
			}
		}
	}
	.advantages{
		&__item{
			padding: 0 5px;
		}
		&-title {
			font: 22px/26px "Noto Serif",serif;
		}
		&-text {
			font: 16px/18px "LatoWeb",sans-serif;
		}
		.icon-mic,
		.icon-speed,
		.icon-man{
			font-size: 60px;
		}
	}

	.trial{
		&__item{
			&:first-child {
				flex-grow: 1;
				background: url("../img/trial-bg.jpg") no-repeat scroll center top / cover ;
			}
			&--bg{
				display: none;
			}
		}
		&-text {
			color: #fff;
			padding-right: 60px;
		}
	}
	.footer{
		&__item{
			&:first-child{
				flex-shink: 0;
			}
			padding-right: 15px;
		}
		&-menu li {
			font: 15px/20px "LatoWeb",sans-serif;
		}
		.footer__contacts {
			font: 15px/18px "LatoWeb",sans-serif;
			.icon-time{
				margin-right: 7px;
				&:before{
					font-size: 20px;
				}
			}
		}
	}
	.anketa{
		&__topline{
			margin-bottom: 40px;
			&-desc{
				padding-right: 30px;
			}
		}
		.h3-title {
			font: 400 32px/36px "Noto Serif",serif;
			margin: 0 0 25px;
		}
		.h4-title {
			font: 400 22px/24px "Noto Serif",serif;
			margin: 0 0 30px;
		}
		.content-text {
			font: 17px/21px "LatoWeb",sans-serif;
		}
		&__container{
			display: block;
			&-left{
				width: 100%;
				margin-bottom: 30px;
			}
			&-right{
				padding-left: 0;
			}
		}
		&__points{
			padding: 20px;
			&-item{
				margin-bottom: 20px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.main-banner {
		padding: 240px 15px 70px;

		.h1-title {
			font: 400 52px/60px "Noto Serif",serif;
			margin: 0 0 20px;
		}
		.main-banner__sublitle {
			font: 400 22px/30px "Noto Serif",serif;
			margin: 0 0 20px;
		}
		.main-banner__btn {
			margin-top: 30px;
		}
	}
	.header{
		display: block;
		height: auto;
		padding: 50px 0 40px;
		&__left{
			padding-right: 0;
		}
		&__right{
			margin-top: 40px;
			&:after{
				content: '';
				display: table;
				clear: both;
			}
			.header-menu{
				float: left;
				margin: 8px 0 0;
			}
		}
	}
	.steps{
		margin: 0 -10px;
		&__item{
			width: 50%;
			margin-bottom: 40px;
			padding: 0 10px;
			&:nth-child(2n+1):after{
				content: '';
				display: table;
				clear: both;
			}
		}
	}
	.specification{
		display: block;
		&__item{
			display: block;
			width: 100%;
			&-img{
				display: none;
			}
			&-title,
			&--right{
				padding: 30px 15px;
			}
		}
	}
	.advantages{
		padding-bottom: 60px;
		&__item{
			float: none;
			width: 100%;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.trial{
		display: block;
		&__item{
			display: block;
			width: 100%!important;
			&:first-child {
				background-position: center center;
			}
		}
		&-text {
			font: 36px/40px "Noto Serif",serif;
			padding: 30px;
		}
		&-form {
			border: 5px solid #e8e8e8;
			padding: 30px 15px;
		}
	}
	.footer{
		display: block;
		height: auto;
		padding: 30px 0;
		&__item{
			display: block;
			text-align: center;
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.anketa{
		.h3-title {
			text-align: center;
		}
		&__topline{
			display: block;
			&-left{
				margin-bottom: 40px;
			}
			&-desc{
				padding-right: 0;
			}
			&-right{
				width: 100%;
				max-width: 300px;
			}
		}
	}
	.services-wr .h2-title,
	.anketa .h3-title {
		font: 36px/38px "Noto Serif",serif;
	}
	.form__row._2cols {
		display: block;
		margin: 0 0 20px;
	}
	.form__row-col {
		padding: 0;
		width: 100%;
		margin: 0 0 20px;
	}
}

@media screen and (max-width: 660px) {
	.anketa__form{
		padding: 20px 15px;
		&-row{
			display: block;
		}
		&-left{
			width: 100%;
			padding: 0;
			margin-bottom: 10px;
		}
		&-text{
			padding-top: 0;
		}
		.tip{
			display: block;
			margin-top: 5px;
		}
		.form-field {
			font: 16px/22px "LatoWeb",sans-serif;
			padding: 10px 15px;
		}
		.textarea {
			font: 16px/18px "LatoWeb",sans-serif;
			height: 120px;
			padding: 10px 15px;
		}
		.tooltip{
			top: 11px;
		}
	}
	.selectize-control{
		height: auto;
	}
	.selectize-input{
		padding: 10px 50px 10px 15px;
	}
	.selectize-input .item{
		font: 16px/20px @font;
	}
	.selectize-dropdown, .selectize-input, .selectize-input input{
		font: 16px/18px @font;
		color: #000;
	}
	.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header{
		padding: 10px 15px;
		font: 16px/20px @font;
		color: #000;
	}
	.selectize-control.single .selectize-input::before{
		font-size: 20px;
	}
}

@media screen and (max-width: 556px) {
	.header{
		&__left {
			padding-right: 0;
			text-align: center;
		}
		&__right {
			margin-top: 30px;
			text-align: center;
			.header-menu {
				float: none;
				margin: 15px 0;
			}
		}
		&-phone-wr{
			margin-left: 0;
		}
	}
	.logo--rfb span {
		font: 15px/17px "LatoWeb",sans-serif;;
		top: -30px;
	}
	.popup-block__body{
		padding: 45px 20px;
	}
	.h2-popup-title {
		font: 36px/38px "Noto Serif",serif;
	}

}

@media screen and (max-width: 479px) {
	.steps{
		margin: 0;
		&__item{
			float: none;
			width: 100%;
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 0;
			}
			&:nth-child(2n+1):after{
				display: none;
			}
		}
	}
	.main-banner{
		padding-left: 0;
		padding-right: 0;
		.h1-title {
			font: 400 34px/36px "Noto Serif",serif;
			margin: 0 0 20px;
		}
		&__sublitle {
			font: 400 20px/26px "Noto Serif",serif;
		}
		&__btn{
			font: 16px/18px "LatoWeb",sans-serif;
			padding: 20px 10px 18px;
		}
	}
	.specification{
		&__item{
			&-title{
				font: 24px/32px "Noto Serif",serif;
				text-align: center;
			}
			&-text{
				 font: 22px/30px "Noto Serif",serif;
				 text-align: center;
			}
			&--right{
				text-align: center;
			}
		}
	}
	.trial-text {
		font: 30px/34px "Noto Serif",serif;
	}
	.header{
		&__left {
			
			.logo img {
				width: 97px;
			}
			.logo--rfb{
				margin-left: 20px;
				img {
					width: 145px;
				}
				span{
					font: 13px/15px "LatoWeb",sans-serif;;
				}
			}
		}	
		&__right {
			margin-top: 30px;
			text-align: center;
			.header-menu {
				float: none;
				margin: 15px 0;
			}
		}
		&-phone-wr{
			margin-left: 0;
		}
		&-menu__item {
			font: 15px/17px "LatoWeb",sans-serif;
		}
		&-phone {
			font: 28px/30px "LatoWebBold",sans-serif;
		}
	}
	.services-form{
		.form__row-elem{
			display: block;
			margin: 0 0 20px;
		}
		.dark-btn{
			display: block;
			width: 100%;
			padding: 0 10px;
		}

		.ellipse-checkbox + label {
			font: 16px/20px "LatoWebBold",sans-serif;
			padding: 15px 35px 15px 15px;
			text-align: left;
		}
		.ellipse-checkbox:checked + label {
			padding: 15px 35px 15px 15px;
		}
		.ellipse-checkbox__icon{
			left: auto;
			right: 10px;
		}
		&__text{
			font: 19px/21px "Noto Serif",serif;
		}
	}
	.services-btns__item {
		font: 17px/19px "LatoWebBold",sans-serif;
	}
	.anketa{
		&__form {
			padding: 20px 15px;
			&-text {
				font: 16px/18px "LatoWeb",sans-serif;
				&._withsmall {
					font: 16px/18px "LatoWebBold",sans-serif;
					padding-top: 0;
				}
			}
		}
	}
	.services-wr .h2-title,
	.anketa .h3-title {
		font: 32px/34px "Noto Serif",serif;
	}
	.anketa__points-item {
		font: 16px/20px "Noto Serif",serif;
	}
	.tooltip__text{
		max-width: 305px;
	}
}